
  body{
    margin:0;
    height:70vh;
    background:#0f172a;
    overflow:hidden;
    font-family: Arial, sans-serif;
  }

  .wrapper{
    position:absolute;
    bottom:30px;
    left:-200px;
    animation: moveLR 8s linear infinite alternate;
  }

  .rotator{
    display:flex;
    flex-direction:column;
    align-items:center;
    animation: rotateGroup 5s linear infinite;
  }
  .text1{
    font-size:15px;
    font-weight:bold;
    color:rgb(230, 10, 10);
    margin-bottom:10px;
  }
.text2{
    font-size:15px;
    font-weight:bold;
    color:rgb(81, 46, 188);
    margin-bottom:12px;
  }

  .ball{
    width:50px;
    height:50px;
    border-radius:50%;
    animation: colorChange 10s linear infinite;
  }

 
  @keyframes moveLR{
    0%{
      left:-200px;
    }
    100%{
      left: calc(100% - 120px);
    }
  }

  
  @keyframes rotateGroup{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
 
 
  @keyframes colorChange{
    0%{
      background: yellow;
      box-shadow:0 0 25px rgb(255, 200, 0);
    }
    50%{
      background: hotpink;
      box-shadow:0 0 35px rgba(255,105,180,.8);
    }
    100%{
      background: yellow;
    }
  }



 